.root {
  min-width: 0;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100px;
}

.net {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;

  font-size: 12px;
}
